[submodule "Template/Assets/ReiBrary"]
	path = Template/Assets/ReiBrary
	url = https://github.com/reillykeele/unity-util.git
[submodule "Template/Assets/_Scripts/ReiBrary"]
	path = Template/Assets/_Scripts/ReiBrary
	url = https://github.com/reillykeele/ReiBrary-Unity
